.forecast
	.forecast__wrapper._lp
		.forecast__container._container
			h2.forecast__caption Прогнозы партнерской программы на 2021 год
			.forecast__box
				.forecast__card.forecast__card--1
					.forecast__number
						img(src="img/forecast-number-1.svg" alt="прогноз")
					.forecast__subtitle Заработают партнеры ILC
				.forecast__card.forecast__card--2
					.forecast__number
						img(src="img/forecast-number-2.svg" alt="прогноз")
					.forecast__subtitle Полисов будет оформлено по партнерским ссылкам
				.forecast__card.forecast__card--3
					.forecast__number
						img(src="img/forecast-number-3.svg" alt="прогноз")
					.forecast__subtitle Партнеров присоединится к нам
				.forecast__card.forecast__card--4
					.forecast__number
						img(src="img/forecast-number-4.svg" alt="прогноз")
					.forecast__subtitle Средний доход партнера в месяц