.leader#leader
	.leader__wrapper._lp
		.leader__container._container
			.leader__box 
				.leader__box-photo
					.leader__img
						img(src="img/leader-photo.webp" alt="leader photo") 
					.leader__quote Я лично буду поддерживать вас на всех этапах развития в программе. Обращайтесь ко мне с любым вопросом email.
				.leader__content
					.leader__meta-text Руководитель ООО ILC 
					h2.caption.leader__caption Наталья Гуторова
					h3.leader__subtitle 10 лет в управлении и юриспуденции
					p.leader__text Мы стараемся окружить заботой и создать максимально комфортные условия для развития каждого партнера:
					ul.leader__list
						li.leader__li личный наставник,
						li.leader__li пошаговое обучение, 
						li.leader__li готовые инструменты для продвижения и мгновенные выплаты бонусов. 
					p.leader__text Больше деталей партнерской программы смотрите в личном кабинете после регистрации.
					button.button.leader__button Зарегистрироваться