footer.footer
	.footer__wrapper._lp
		.footer__container._container
			.footer__box
				.footer__left
					a.footer__logo(href="/")
						img(src="img/logo.svg" alt="logo")
					.footer__title Первый цифровой международный<br /> юридический центр
				.footer__right
					.footer__socials
						.footer__social-link
							a(href="#")
								img(src="img/social-icon-vk.svg" alt="vkontakte")
						.footer__social-link
							a(href="#")
								img(src="img/social-icon-insta.svg" alt="instagram")
						.footer__social-link
							a(href="#")
								img(src="img/social-icon-tw.svg" alt="twitter")
						.footer__social-link
							a(href="#")
								img(src="img/social-icon-fb.svg" alt="facebook")