.bottom-line
	.bottom-line__wrapper._lp
		.bottom-line__container._container
			.bottom-line__box
				.bottom-line__left
					.bottom-line__copy ©2021 «International Legal Center»
				.bottom-line__right
					a(href="#").bottom-line__politic Политика конфиденциальности
					a(href="#").bottom-line__terms Пользовательское соглашение