.topline
	.topline__wrapper
		.topline__container._container
			.topline__body
				.topline__left
					a.topline__logo(href="/")
						img(src="img/logo.svg" alt="logo")
					.topline__title Первый цифровой международный<br /> юридический центр
				.topline__right
					a.topline__phone(href="tel:+388005113768") 
						span 8 (800) 511-37-68
						img(src="../img/phone-icon.png" alt="phone")
					button.button.topline__button Войти
					.icon-menu__box
						button.icon-menu(type='button')
							span
							span
							span