header.header
	.header__wrapper._lp
		.header__container._container
			.header__body
				.header__left
					h1.header__caption Юридический полис ILC — быстрое решение сложных вопросов 24/7
					.header__subtitle Ваша личная команда профессиональных юристов, которая всегда под рукой. А также доступ к бонусам партнерской zрограммы — доход до $260 с каждого полиса, купленного по вашему приглашению.
					button.button.header__button Попробовать бесплатно
				.header__right
					.header__image 
						img(src="img/header-image.webp")
					.header__circle.circle
						.circle__top Доход
						.circle__bold до $260
						.circle__regular с каждого<br /> полиса
			.header__bottom.bottom-header
				.bottom-header__body
					.bottom-header__card
						.bottom-header__icon 
						.bottom-header__title Юридическая поддержка 24/7
					.bottom-header__card
						.bottom-header__icon 
						.bottom-header__title Множество возможностей в одном полисе
					.bottom-header__card
						.bottom-header__icon 
						.bottom-header__title Бонусы партнерской программы
