.online#online
	.online__wrapper._lp
		.online__container._container
			.online__inner
				.onlline__text-block
					.online__logo
						img(src="img/logo-online.svg")
					.caption.online__caption Ваша личная online команда юристов
					.text.online__text Мы предоставляем комплексный консалтинговый сервис с полисной системой обслуживания для частных клиентов и для бизнеса, с использованием новейших цифровых технологий.
				.online__box
					.online__card-body.online__card-body--1
						.card.card--1
							.card__icon
							.card__subtitle Клиентов <br/>по всему миру
					.online__card-body.online__card-body--2
						.card.card--2
							.card__icon
							.card__subtitle Опытных юристов в штате
					.online__card-body.online__card-body--3
						.card.card--3
							.card__icon
							.card__subtitle Опытных юристов в штате
					.online__card-body.online__card-body--4
						.card.card--4
							.card__icon
							.card__subtitle Система на базе искусственного интеллекта