.support#support
	.support__wrapper._lp
		.support__container._container
			h2.caption.support__caption Даём поддержку
			.support__box
				.support__card
					.support__icon.support__icon--1
					.support__subtitle Бизнесу
					p.support__text Услуги профессиональных юристов для вашей компании по фиксированному тарифу — это в несколько раз выгоднее, чем содержать свой штат.
				.support__card
					.support__icon.support__icon--2
					.support__subtitle StartUP проектам
					p.support__text Эксперты ILC помогут выбрать оптимальную правовую форму для ведения бизнеса, оптимизировать налоги и подготовить необходимый  пакет документов.
				.support__card
					.support__icon.support__icon--3
					.support__subtitle Частным клиентам
					p.support__text Оперативные решения сложных вопросов в режиме онлайн: ДТП, наследство, страховые споры, земельные и имущественные процессы, защита прав.


