.benefits#benefits
	.benefits__wrapper._lp
		.benefits__container._container
			.caption.benefits__caption Преимущества сервиса
			.benefits__top
				.benefits__phone
					.benefits__button-outer
						.benefits__subtitle Чем могу вам помочь?
						button.button.benefits__button Задайте вопрос
				.benefits__text-outer
					.benefits__text-title SIRIUS
					p.benfits__text — первый полноценный искусственный интеллект, самостоятельно консультирующий людей по любым юридическим вопросам в режиме реального времени.
					p.benfits__text Sirius анализирует входящий запрос и оперативно генерирует квалифицированный ответ на основании юридической логики.
					p.benfits__text Доступ к системе предоставляется владельцу полиса в личном кабинете на нашем сайте.
				ul.benefits__list
					li.list__item.benefits__item работает 24/7
					li.list__item.benefits__item 100% точность и корректность ответов
					li.list__item.benefits__item при необходимости, подключает живого специалиста
					li.list__item.benefits__item не берет больничный и никогда не уволится
			.benefits__box
				.benefits__card
					.benefits__icon.benefits__icon--1
					h3.benefits__subtitle-card Удобный формат 
					p.text.benefits__text--card Консультируем 24/7 в любом удобном формате: чат, аудио-звонок, c помощью искусственного интеллекта Sirius в личном кабинете.
				.benefits__card
					.benefits__icon.benefits__icon--2
					h3.benefits__subtitle-card Доступная цена
					p.text.benefits__text--card Выбирайте комфортный для себя пакет юридической поддержки, оплачивая только то, что действительно нужно.
				.benefits__card
					.benefits__icon.benefits__icon--3
					h3.benefits__subtitle-card Налоговый калькулятор
					p.text.benefits__text--card Точный расчет налоговой нагрузки за считанные минуты с помощью телеграм-бота ILC_tax — это быстро и удобно!
				.benefits__card
					.benefits__icon.benefits__icon--4
					h3.benefits__subtitle-card Конструктор документов
					p.text.benefits__text--card Доступ к более чем 9500 готовых и проработанных документов для бизнеса — бесплатно!
				.benefits__card
					.benefits__icon.benefits__icon--5
					h3.benefits__subtitle-card Бесплатный доступ для всех, кто зарегистрируется
					p.text.benefits__text--card Конструктор с ограниченным количеством документов на базе телеграм-бота


