.partner
	.partner__wrapper._lp
		.partner__container._container
			.partner__top
				h2.partner__caption Станьте партнером ILC
				p.partner__subtitle и зарабатывайте на рекомендациях в любое время, из любой точки мира
			.partner__box
				.partner__card 
					.partner__img.partner__img--1 
					.partner__content 
						h3.partner__title Высокие бонусы
						p.partner__text Вы получаете до 35% от стоимости каждого полиса, который был куплен по вашей рекомендации.
						p.partner__text.partner__text--bold К примеру: юридический полис “Международный бизнес” стоит $750/год, с него вы зарабатываете $260.
				.partner__card 
					.partner__img.partner__img--2
					.partner__content 
						h3.partner__title Полезный продукт
						p.partner__text  Сервис ILC — это ваша личная команда юристов, которая работает     в формате “здесь и сейчас”, 24/7, без выходных.

						p.partner__text Нужна помощь? Всего 1 клик и персональный юрист ILC уже решает ваш вопрос. <span class="partner__text--bold">Это в несколько раз дешевле и быстрее, чем искать частного специалиста.</span>
				.partner__card 
					.partner__img.partner__img--3
					.partner__content 
						h3.partner__title Широкая аудитория
						p.partner__text.partner__text--bold Качественная юридическая помощь нужна абсолютно всем: бизнесу, семьям, крупным компаниям, экспертам и частным лицам. 
						p.partner__text Рекомендуя полис ILC, <span class="partner__text--bold">вы помогаете людям</span> оперативно решать жизненные задачи в 1 клик.
				.partner__card 
					.partner__img.partner__img--4
					.partner__content 
						h3.partner__title Обучение и поддержка
						p.partner__text Вы получите доступ в личный кабинет с подробной информацией о том, как:
						ul.partner__list 
							li.partner__li эффективно привлекать клиентов,
							li.partner__li отслеживать конверсию,
							li.partner__li повышать свой доход,
							li.partner__li обналичивать средства и многое другое.
						p.partner__text--bold Мы поддержим вас на всех этапах.
			button.button.partner__button Стать партнером