.begin#begin
	.begin__wrapper._lp
		.begin__container._container
			h2.caption.begin__caption Начать легко
			.begin__box
				.begin__col
					.begin__row
						.begin__card
							.begin__icon.begin__icon--1 1
							.begin__title Регистрация
							.begin__text Заполните простую форму для участия в программе и активируйте клиентский пакет.
					.begin__row
						.begin__card
							.begin__icon.begin__icon--2 2
							.begin__title Обучение
							.begin__text Вас ждут полезные обучающие материалы, с помощью которых вы легко сможете монетизировать свое время.
				.begin__col
					.begin__card.begin__card--big
						.begin__img
							img(src="img/begin-img.svg" alt="begin image")
						.begin__icon.begin__icon--3 3
						.begin__title Стратегия
						.begin__text Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов. 
				.begin__col
					.begin__card
						.begin__icon--goal
						.begin__title Результат
						.begin__text Зарабатывайте до 35% с каждой покупки полиса по вашей партнерской ссылке с первых дней после регистрации.
						button.button.begin__button Начать зарабатывать