.topline__body {
	display: flex;
	justify-content: space-between;
	padding: 44px 0 23px;

	@media (max-width: ($md3+px)) {
		padding-top: 22px;
	}
}

.topline__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topline__logo {
	margin-right: 62px;

	img {
		width: auto;

		@media (max-width: ($md3+px)) {
			width: 100%;
			min-width: 90px;
		}
	}
}

.topline__title {
	color: #303030;
	font-size: 12px;
	line-height: 20px;
	padding-top: 9px;

	@media (max-width: ($md2+px)) {
		display: none;
	}
}

.topline__right {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: ($md3+px)) {
		top: -7px;
	}
}

.topline__phone {
	margin-right: 17px;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	text-align: right;
	color: #303030;

	@media (any-hover: hover) {
		&:hover {
			color: #4e64db;
		}
	}

	@media (max-width: ($md3+px)) {
		margin-right: 17px;

		span {
			display: none;
		}
	}

	img {
		display: none;

		@media (max-width: ($md3+px)) {
			display: flex;
		}
	}
}

.topline__button {
	margin-left: 20px;

	@media (max-width: ($md3+px)) {
		display: none;
	}
}